{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}


  {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    <form action="{% url 'home' %}" method="post">
    {% csrf_token %}

      <div class="input-group mb-3">
        <input type="text" id='id_title' name='title' required class="form-control" placeholder="Search for your next movie" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-success" type="submit" id="button-addon2">Search</button>
        </div>
      </div>

    </form>
  {% else %}
        <p>Welcome, new user. Please log in.</p>
  {% endif %}

{% endblock %}
