{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
  <form action="{% url 'add_favourite' favourite=movie%}" method="post">
  {% csrf_token %}
  <a href="{% url 'home' %}" class="btn btn-primary btn-sm" ><i class="fas fa-angle-left"></i> {% trans 'Back to search' %}</a>
  <button href="{% url 'add_favourite' favourite=movie%}" type="submit" class="btn btn-success btn-sm" id="addToFavouriteButton"><i class="far fa-star"></i> {% trans 'Add to favourites' %} </button>
  <br>
  <br>
  {% if data %}
    <h1>{{ data.Title }} <small>({{ data.Year }})</small></h1>
    {% for key, item in data.items %}
      <div class="row">
        <div class="col-1">
          {% trans key %}
        </div>
        <div class="col">
          {% if key == 'Website' %}
            {{ item|urlize }}
          {% elif key == 'Poster' %}
            <img src="{{ item }}">
          {% elif key == 'Ratings' %}
            {% for v in item %}
              {% for source, value in v.items %}
                {{ value }}{% cycle ':' '<br>' %}
              {% endfor %}
            {% endfor %}
          {% else %}
            {{ item }}
          {% endif %}

        </div>
      </div>
    {% endfor %}

  {% else %}
    <h2> {% trans 'Sorry, movie not found!' %}</h2>
    <p><a href="{% url 'home' %}">{% trans 'Go back and try again' %}</a></p>
  {% endif %}
  <br>
  </form>
{% endblock %}
